#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  margin: 0;
  background-color: #222;
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.switch-console {
  display: flex;
  align-items: center;
  background-color: #111;
  padding: 1rem;
  border-radius: 40px;
  box-shadow: 0 0 20px #000;
}

.joycon {
  width: 100px;
  height: 300px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.joycon.left {
  background-color: #e53935; /* red */
  margin-right: 10px;
}

.joycon.right {
  background-color: #1e88e5; /* blue */
  margin-left: 10px;
}

.circle-button {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  margin: 10px auto;
}

.screen {
  background-color: #000;
  padding: 2rem;
  border-radius: 20px;
  min-width: 400px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: inset 0 0 10px #444;
}

